:root {
  --body-font: "Inconsolata", monospace;
  --grey-dark: #2a282c;
  --grey: #abacad;
  --border: var(--grey);
  --text: var(--grey-dark);
  --font-small: 0.8em;
  --font-large: 1.4em;
  --size-4: 4px;
  --size-8: 8px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
}

@font-face {
  font-family: Inconsolata;
  src: url("./assets/Inconsolata-VariableFont_wdth,wght.ttf") format("truetype");
}

html, body {
  color: var(--text);
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

b {
  font-weight: 700;
}

input:focus-visible,
select:focus-visible {
  outline: 0;
}

input[type="text"] {
  border-bottom: 1px solid transparent;
  font-weight: 700;
}

input[type="text"]:focus {
  border-bottom: 1px solid var(--text);
}

section + section {
  border-top: 1px solid var(--border);
  padding-top: var(--size-16);
  margin-top: var(--size-16);
}

.artists {
  max-height: 15rem;
  overflow-y: scroll;
}

.entry {
  background: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--size-32);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry-content {
  background: white;
  padding: var(--size-24);
}

.entry-controls {
  margin-top: var(--size-16);
  display: flex;
  justify-content: flex-end;
}

.home {
  padding: var(--size-16) var(--size-24);
}

.indent-1 {
  padding-left: 0.8em;
}

.indent-2 {
  padding-left: 1.6em;
}

.playing {
  font-weight: 700;
}

.title {
  font-size: var(--font-large);
}

.margin-top {
  padding-top: var(--size-4);
}

.version {
  display: flex;
  justify-content: flex-end;
  font-size: var(--font-small);
}
